uwsgi
psycopg2-binary
django==2.2.*
pillow
djangorestframework
drf-yasg
djangorestframework_simplejwt
django-cors-headers
django-filter
django-redis
celery[redis]
python-memcached

# Linters
black
django-stubs
djangorestframework-stubs
bandit
pydocstyle==3.*
flake8
flake8-docstrings
flake8-quotes
flake8-print
flake8-eradicate
flake8-bugbear
flake8-comprehensions
flake8-spellcheck
flake8-strict
dlint
radon
mypy
lxml
isort
pylint
pylint-django==2.0.*

# Tests
faker
factory_boy
pytest
pytest-django
pytest-cov
pytest-mock
django_mock_queries